body{
    background-color: black;
    color: white;
    background: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    position: absolute;
    top: 45%;
    left: 35%;
    list-style: none;
    color: white;
    font-size: 50px;
}